{% extends 'global.html'%}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static "users/css/register.css" %}">
<link rel="stylesheet" href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
<link rel="stylesheet" href="{% static "flashcard/css/new_flashcard.css" %}">
<link href="{% static 'flashcard/css/start_challenge.css' %}" rel="stylesheet">

{% endblock %}

{% block 'content' %}

{% include "partials/header.html" %}

<div class="container context">
  <br>
  <br>
  <h2 class="main-source">Iniciar desafio</h2>
  <p class="secondary-source">Escolha as categorias e a dificuldade do desafio</p>
  <div class="row">
      
          <div class="col-md">
              <form action="{% url "start_challenge" %}" method="POST">{% csrf_token%}
              <label for="">Titulo</label>
              <input type="text" class="form-control" name="title">
          </div>
          <div class="col-md">
              <label>Categoria</label>
              <select name="category" class="form-select" multiple>
                  {% for category in categories %}
                      <option value="{{category.id}}">
                          {{category.name}}
                      </option>
                  {% endfor %}
              </select>
          </div>
          <div class="col-md">
              <label>Dificuldade</label>
              <select name="difficulty" class="form-select">
                  {% for difficulty in difficulties %}
                      <option value="{{difficulty.0}}">
                          {{difficulty.1}}
                      </option>
                  {% endfor %}
              </select>
          </div>

          <div class="col-md">
              <label>Qtd questões</label>
              <input type="number" class="form-control" name="question_qtd">
          </div>
      
  </div>
  <br>
      {% if messages %}
        <br>
        {% for message in messages %}
            <section class="alert {{message.tags}}">
                {{message}}
            </section>
        {% endfor %}
      {% endif %}
  <br>
  <input type="submit" class="btn-register" value="Iniciar desafio">
  </form>
</div>

{% endblock %}